* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background: url(resim.jpeg); 
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.card-header {
    background: #2c3a47;
    padding: 60px 40px;
}

.picture {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e28341);
    margin: auto;
    border-radius: 50%;
}

.picture img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


.name {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}


.desc {
    color: #d1d8e0;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.5; 
}